footer {
    margin-top: 2rem;
}

.projects {
    width: 100vw;
    height: 53.5rem;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.projectShowcase {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
}

.projectPic {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.projectPic img {
    border-radius: 0.625rem;
}

.projectPic:hover {
    transform: translateY(-5px);
}

.projects h3 {
    color: #000;
    position: absolute;
    padding: 1rem 0 0 1rem;
    z-index: 3;
}

.projectDiv {
    margin-top: 7rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .projects {
        height: 85rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    .projectShowcase {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .projectPic img{
        width: 85vw;
    }

    .projectDiv {
        margin-top: 2rem;
    }
}