.hero {
    height: 53.75rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.bigHeroImg
{
    object-fit: cover;
    width: 100%;
    height: 27rem;
    border-radius: 0.9375rem;
    flex-shrink: 0;
    object-position: center bottom;
}

.helloBtn {
    position: absolute;
    top:90%;
    left: 13%;
    transform: translate(-50%, -50%);
    border-radius: 0.625rem;
    background: #FFF;
    color: #000;
    width: 11.1875rem;
    height: 3rem;
    font-size: 1.25rem;
    gap: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
}

.serviceAndLocation {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.service, .location {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.bottomText {
    font-size: 2rem;
}

.heroDivider {
    margin-top: 2rem;
}

.heroBigText {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.heroBigText:hover {
    transform: translateY(-5px);
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .hero {
        height: 49rem;
    }

    .serviceAndLocation {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .service, .location {
        font-size: 1.2rem;
    }

    .heroBigText {
        margin: 1.2rem 0;
    }

    .heroBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .heroBottom .bottomText {
        font-size: 1.5rem;
    }

    .heroDivider {
        margin-top: 2rem;
    }

    .bigHeroImg {
    object-position: 45% bottom;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        height: 47.2rem;
    }
}