.logo {
    height: 13rem;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: white; */
}

.logo:hover .logo-slider {
    animation-play-state: paused;
}

.logo-slider {
    display: flex;
    align-items: center;
    animation: 30s slide infinite linear;
}

.logo-slider img {
    object-fit: cover;
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 3rem;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

  .logo {
    height: 10rem;
  }

  .logo-slider img {
    width: 5.5rem;
    height: 5.5rem;
  }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    height: 12rem;
  }

  .logo-slider img {
    width: 6rem;
    height: 6rem;
  }
}