.aboutPage {
    height: 40rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items:start;
    gap: 2rem;
}

.aboutLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.aboutRight{
width: 60%;
}

.text1 {
    font-size: 1.5rem;
}

.text2 {
    margin-top: 0.5rem;
    font-size: 2.5rem;
}

.text3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.aboutImage{
    object-fit: cover;
    width: 22rem;
    height: 22rem;
    border-radius: 0.625rem;
    transition: transform 0.3s ease-in-out;
    /* border: 1px solid #FFF; */
}

.metaBadge,.gdscBadge {
    object-fit: cover;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.625rem;
    transition: transform 0.3s ease-in-out;
}

.badges {
    margin-top: 1.75rem;
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 1.5rem;
}

.aboutButtons {
    margin-top: 1.75rem;
    width: 9.8125rem;
    height: 3rem;
    border-radius: 0.625rem;
    background: #FFF;
    color: #000;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.aboutImage:hover, .gdscBadge:hover, .metaBadge:hover, .aboutButtons:hover {
    transform: translateY(-5px);
}

.aboutIcons {
    fill: #000;
    font-size: larger;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .aboutPage {
        height: 75rem;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        gap: 0rem;
    }

    .aboutRight {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text3 {
        text-align: center;
        font-size: 1.25rem;
    }

    .buttons {
        margin: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .badges {
        margin-top: 2.2rem;
    }

    .aboutImage {
        margin-top: 1.5rem;
    }

    .aboutButtons {
        margin-top: 1ch;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .aboutPage {
        height: 65rem;
        width: 92vw;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        margin-top: 3rem;
    }

    .aboutRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text3 {
        text-align: center;
    }

}