.contact {
    height: 50rem;
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.name, .email, .message {
    width: 100%;
    /* height: 3.5rem; */
    max-width: 40rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #000;
    background: #fff;
    margin-top: 1.5rem;
}

.name {
    margin-top: 3rem;
}

.contact p:first-of-type {
    margin-top: 3rem;
}

.contact p:last-of-type {
    margin-top: 0.5rem;
}

.contact p{
    font-size: 1.5rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 3.5rem; */
    max-width: 40rem;
    margin: 0.5rem;
}

.submitBtn {
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width:720px) {
    .contact {
        height: 46rem;
        width: 100vw;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact {
        height: 43rem;
        width: 100vw;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
}