.contact {
    height: 50rem;
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.name, .email, .message {
    width: 100%;
    /* height: 3.5rem; */
    max-width: 40rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #000;
    background: #fff;
    margin-top: 1.5rem;
}

.name {
    margin-top: 3rem;
}

.contact p:first-of-type {
    margin-top: 3rem;
}

.contact p:last-of-type {
    margin-top: 0.5rem;
}

.contact p{
    font-size: 1.5rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 3.5rem; */
    max-width: 40rem;
    margin: 0.5rem;
}

.submitBtn {
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 3rem;
}

.submitBtn:disabled {
    opacity: 0.5;
    border: 1px solid #fff;
    background-color: #161B22;
    color: #fff;
    cursor: not-allowed;
}

.snackbar {
    visibility: hidden;
    min-width: 10rem;
    padding: 1rem;
    background-color: #fff;
    color:#000;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Media Query for Mobile Devices */
@media screen and (max-width:720px) {
    .contact {
        height: 60rem;
        width: 100vw;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .submitBtn {
        padding: 0.75rem 3.5rem;
        border-radius: 0.5rem;
        margin-top: 2rem;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .contact {
        height: 43rem;
        width: 100vw;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
}