.certifications {
    height: 90rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    margin-top: 5rem;
    /* display: flex; */
}

.certDiv {
    width: 53.75rem;
    height: 12.5rem;
    background-color: #fff;
    display: flex;
    border-radius: 0.625rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.certDiv:hover, .otherCerts:hover {
    transform: translateY(-5px) !important;
}

.certLeft {
    display: flex;
    flex-direction: column;
    width: 200%;
}

.certRight {
    display: flex;
    width: 50%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.certifications p {
    color: #000;
}

.date {
    margin-top: 1.3rem;
}

.certButtons {
    margin-top: 0.8rem;
}

.certBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 11.125rem;
    height: 2rem;
    background-color: #000;
    font-size: 1rem;
    cursor: pointer;
}

.otherCerts {
    width: 53.75rem;
    height: 28.25rem;
    background-color: #FFF;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 0.625rem;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
}

.otherLeft {
    width: 50%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.2rem;
}

.otherRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 1.2rem;
    margin-left: 2rem;
}

.otherCerts h3 {
    color: #000;
    font-weight: 500;
    font-family: 'Product Sans Medium';
    font-size: 1rem;
}

.other p {
    font-style: italic;
    font-size: 0.9rem;
}

.otherLink {
    fill: #000;
    font-size: larger;
    /* background-color: aqua; */
}

.other button {
    margin-left: 0.5rem;
    border: transparent;
    cursor: pointer;
}

.divCertifications {
    margin-top: 2rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .certifications {
        margin-top: 4rem;
        height: 150rem;
        gap: 2rem;
    }

    .certDiv {
        width: 85vw;
        height: 30rem;
        display: flex;
        flex-direction: column-reverse;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    .certLeft {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .certRight {
        width: 50%;
        margin: 0;
    }

    .smallerHeader {
        font-size: 2.6rem;
    }

    .otherCerts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
        height: 55rem;
        padding: 2rem 1.5rem 2rem 2rem;
    }

    .otherLeft {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.2rem;
    }
    
    .otherRight {
        margin-top: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        row-gap: 1.2rem;
        margin-left: 0;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .certifications {
        margin-top: 4rem;
        height: 150rem;
        gap: 2rem;
    }

    .certDiv {
        width: 70vw;
        height: 26rem;
        display: flex;
        flex-direction: column-reverse;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .certLeft {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .certRight {
        width: 50%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }

    .smallerHeader {
        font-size: 2.9rem;
    }

    .otherCerts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70vw;
        height: 53rem;
        padding: 2rem 1.5rem 2rem 2rem;
    }

    .otherLeft {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: column;
        row-gap: 1.2rem;
    }

    .otherRight {
        margin-top: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        row-gap: 1.2rem;
        margin-left: 0;
    }
}