.experience {
    width: 100vw;
    max-width: 80rem;
    height: 55rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;
    overflow: hidden;
    margin-top: 3rem;
}

.header2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Product Sans Medium', sans-serif;
}

.header3 {
    font-size: 1.5rem;
    color: #000;
}

.expSpan {
    color: #636363;
    font-size: 1rem;
}

.expContainer {
    width: 40rem;
    height: 11.0625rem;
    border-radius: 0.625rem;
    background: #FFF;
    display: flex;
    padding: 0 1.25rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

/* .expContainer:first-of-type {
    margin-top: rem;
} */

.expContainer:hover {
    transform: translateY(-5px);
}

.expDetails {
    margin-top: 1rem;
}

.gdscLogo, .dashlabsLogo, .ctuLogo {
    max-width: 100%;
    object-fit: cover;
    width: 6.25rem;
    height: 6.25rem;
}

.expLeft {
    display: flex;
    flex-direction: column;
    width: 200%;
}

.expRight {
    display: flex;
    width: 50%;
    margin: 0 0 0 1.5rem;
    justify-content: center;
    align-items: center;
}

.experience p {
    color: #000;
}

.verticalLine {
    width: 0.125rem;
    height: 4.375rem;
    border-left: 3px solid white;
}

.expDivider {
    margin-top: 2rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .experience {
        width: 100vw;
        max-width: 80rem;
        height: 80rem;
        row-gap: 2.5rem;
        overflow: hidden;
        margin-top: 2rem;
    }

    .header2 {
        font-size: 3.3rem;
    }

    .header3 {
        margin-top: 1rem;
    }

    .expContainer {
        width: 85vw;
        height: 25rem;
        flex-direction: column-reverse;
        padding: 1.25rem 1.25rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .expLeft {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .expSpan {
        display: block;
    }

    .expRight {
        display: flex;
        width: 50%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}