.experience {
    width: 100vw;
    max-width: 80rem;
    height: 55rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5rem;
    overflow: hidden;
    margin-top: 3rem;
}

.header2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Product Sans Medium', sans-serif;
}

.header3 {
    font-size: 1.5rem;
    color: #000;
}

.expSpan {
    color: #636363;
    font-size: 1rem;
}

.expContainer {
    width: 40rem;
    height: 11.0625rem;
    border-radius: 0.625rem;
    background: #FFF;
    display: flex;
    padding: 0 1.25rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.verticalLine {
    width: 0.125rem;
    height: 6rem;
    border-left: 3px solid #ffffff48;
    position: absolute;
}

.pulse {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    animation: pulse-animation 0.75s infinite;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

.pulseOne {
    top: 133.2rem;
    z-index: 2;
}

.pulseTwo {
    top: 147.7rem;
    z-index: 2;
}

.verticalLineOne {
    top: 133.5rem;
}

.verticalLineTwo {
    top: 148rem;
}

/* .expContainer:first-of-type {
    margin-top: rem;
} */

/* .expContainer:hover {
    transform: translateY(-5px) !important;
} */

.expDetails {
    margin-top: 1rem;
}

.gdscLogo, .dashlabsLogo, .ctuLogo {
    max-width: 100%;
    object-fit: cover;
    width: 6.25rem;
    height: 6.25rem;
}

.expLeft {
    display: flex;
    flex-direction: column;
    width: 200%;
}

.expRight {
    display: flex;
    width: 50%;
    margin: 0 0 0 1.5rem;
    justify-content: center;
    align-items: center;
}

.experience p {
    color: #000;
}

.expDivider {
    margin-top: 2rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {
    .experience {
        width: 100vw;
        max-width: 80rem;
        height: 94rem;
        row-gap: 2.5rem;
        overflow: hidden;
        margin-top: 2rem;
    }

    .header2 {
        font-size: 3.3rem;
    }

    .header3 {
        margin-top: 1rem;
    }

    .expContainer {
        width: 85vw;
        height: 25rem;
        flex-direction: column-reverse;
        padding: 1.25rem 1.25rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .expLeft {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .expSpan {
        display: block;
    }

    .expRight {
        display: flex;
        width: 50%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .verticalLineOne {
        top: 169rem;
    }

    .verticalLineTwo {
        top: 198rem;
    }

    .pulseOne {
        top: 171rem;
    }
    
    .pulseTwo {
        top: 198.5rem;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .verticalLineOne {
        top: 154rem;
    }

    .verticalLineTwo {
        top: 168rem;
    }

    .pulseOne {
        top: 153.6rem;
    }
    
    .pulseTwo {
        top: 168.1rem;
    }
}