.navBar {
    height: 4.6875rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: hsla(216, 28%, 7%, 0.5);
    backdrop-filter: blur(16px);
}

.navLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.divider {
    font-size: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-logo {
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.desktopLinkItems {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.15rem;
    font-family: 'Product Sans Medium', sans-serif;
}

.desktopLinkItems:hover, .mobileItem:hover{
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
}

/* .mid:active {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
} */

.desktopMenuBtn {
    width: 8.25rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    background: #FFF;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    font-size: 1rem;
    font-family: 'Product Sans Medium', sans-serif;
}

.rightArrow {
    fill: #000;
    font-size: larger;
}

.navCenter{
    display: flex;
    justify-content: space-around;
}

.navCenter .active {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
}

.navMenu .active {
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
}

.navMenu {
    position: absolute;
    top: 4.7rem;
    right: 1.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: #000;
}

.mobileItem {
    color: #FFF;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: #161B22;;
}

.mobileMenu {
    display:none;
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 720px) {

    .mobileMenu {
        display: flex;
    }

    .divider, .title, .navCenter, .desktopMenuBtn {
        display: none;
    }

    .navBar {
        height: 4.3rem;
        width: 100vw;
        padding: 1rem 2rem;
    }
}

/* Media Query for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Add specific styles for tablets if needed */
    .divider, .title, .navCenter, .desktopMenuBtn {
        display: none;
    }
    
    .mobileMenu {
        display: flex;
    }
}
